{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}



<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?{% now "U" %}">
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
          <h1>{{ question.question_text }}</h1>
            <div class="card h-50 justify-content-center">

<form action="{% url 'polls:vote' question.id %}" method="post" id="form1">
{% csrf_token %}
<div class="form-group">
    <div class="aaa">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
    
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
  
    {% endfor %}
    <input type="submit" class="btn btn-outline-success" value="Vote">
    <div/>
</div>
<div/>
</div>
<div/>
</div>
</form>